
<nav class="p-4 w-full">

  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a class="btn"  routerLink="by-capital"  routerLinkActive='btn-primary'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24"><g fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2"><path fill="currentColor" fill-opacity="0"
              stroke-dasharray="48" stroke-dashoffset="48"
              d="M11 9h6v10h-6.5l-2 -2h-2.5v-6.5l1.5 -1.5Z"><animate
                fill="freeze" attributeName="fill-opacity" begin="1.3s"
                dur="0.15s" values="0;0.3" /><animate fill="freeze"
                attributeName="stroke-dashoffset" dur="0.6s"
                values="48;0" /></path><path fill="currentColor"
              fill-opacity="0" d="M17 13h0v-3h0v8h0v-3h0z" opacity="0"><animate
                fill="freeze" attributeName="d" begin="0.6s" dur="0.2s"
                values="M17 13h0v-3h0v8h0v-3h0z;M17 13h4v-3h1v8h-1v-3h-4z" /><set
                fill="freeze" attributeName="fill-opacity" begin="0.8s"
                to="1" /><set fill="freeze" attributeName="opacity" begin="0.6s"
                to="1" /></path><path d="M6 14h0M6 11v6" opacity="0"><animate
                fill="freeze" attributeName="d" begin="0.8s" dur="0.2s"
                values="M6 14h0M6 11v6;M6 14h-4M2 11v6" /><set fill="freeze"
                attributeName="opacity" begin="0.8s" to="1" /></path><path
              d="M11 9v0M8 9h6" opacity="0"><animate fill="freeze"
                attributeName="d" begin="1s" dur="0.2s"
                values="M11 9v0M8 9h6;M11 9v-4M8 5h6" /><set fill="freeze"
                attributeName="opacity" begin="1s" to="1" /></path></g></svg>
        Por Capital
      </a>
    </li>
    <li>
      <a class="btn"  routerLink="by-country" routerLinkActive='btn-primary'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24"><g fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-width="2"><path fill="currentColor"
              fill-opacity="0" stroke-dasharray="28" stroke-dashoffset="28"
              d="M12 10l4 7h-8Z"><animate fill="freeze"
                attributeName="fill-opacity" begin="0.7s" dur="0.5s"
                values="0;1" /><animate fill="freeze"
                attributeName="stroke-dashoffset" dur="0.4s"
                values="28;0" /></path><path d="M12 10l4 7h-8Z"
              opacity="0"><animate attributeName="d" begin="0.4s" dur="0.8s"
                keyTimes="0;0.25;1" repeatCount="indefinite"
                values="M12 10l4 7h-8Z;M12 4l9.25 16h-18.5Z;M12 4l9.25 16h-18.5Z" /><animate
                attributeName="opacity" begin="0.4s" dur="0.8s"
                keyTimes="0;0.1;0.75;1" repeatCount="indefinite"
                values="0;1;1;0" /></path></g></svg>
        Por país
      </a>
    </li>
    <li>
      <a class="btn" routerLink="by-region" routerLinkActive='btn-primary'>
        Por región
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24"><mask id="lineMdMapMarkerAltFilledLoop0"><g
              fill="none" fill-opacity="0" stroke="#fff" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"><path fill="#fff"
                d="M12 20.5C12 20.5 11 19 11 18C11 17.5 11.5 17 12 17C12.5 17 13 17.5 13 18C13 19 12 20.5 12 20.5z"><animate
                  fill="freeze" attributeName="d" dur="0.4s" keyTimes="0;0.7;1"
                  values="M12 20.5C12 20.5 11 19 11 18C11 17.5 11.5 17 12 17C12.5 17 13 17.5 13 18C13 19 12 20.5 12 20.5z;M12 20.5C12 20.5 5 13 5 8C5 4.5 8 1 12 1C16 1 19 4.5 19 8C19 13 12 20.5 12 20.5z;M12 20.5C12 20.5 6 13.5 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9C18 13.5 12 20.5 12 20.5z" /><animate
                  fill="freeze" attributeName="fill-opacity" begin="0.5s"
                  dur="0.5s" values="0;1" />
                  <animatetransform
                  attributeName="transform" dur="3s"
                  keyTimes="0;0.3;0.4;0.54;0.6;0.68;0.7;1"
                  repeatCount="indefinite" type="rotate"
                  values="0 12 20.5;0 12 20.5;-8 12 20.5;0 12 20.5;5 12 20.5;-2 12 20.5;0 12 20.5;0 12 20.5" /></path><circle
                cx="12" cy="9" r="2.5" fill="#000" stroke="none"><animate
                  fill="freeze" attributeName="fill-opacity" begin="1s"
                  dur="0.5s" values="0;1" /></circle></g></mask><rect width="24"
            height="24" fill="currentColor"
            mask="url(#lineMdMapMarkerAltFilledLoop0)" /></svg>
      </a>
    </li>
  </ul>
</nav>
