
<!-- <section class="mx-10">

  <h1 class="text-3xl">{{country().capital}}</h1>
  <h1 class="text-xl font-thin">Población   {{country().population | number}}</h1>
</section>
 -->
<section class="stats shadow">
  <div class="stat">
    <div class="stat-figure text-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
      </svg>
    </div>
    <div class="stat-title">Población</div>
    <div class="stat-value text-primary">{{country().population | number}}</div>
    <div class="stat-desc">
      Desde: {{currentYear()}}
    </div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 10V3L4 14h7v7l9-11h-7z"></path>
      </svg>
    </div>
    <div class="stat-title">Nombre del País</div>
    <div class="stat-value text-secondary">{{country().capital}}</div>
    <div class="stat-desc">{{country().region}}</div>

  </div>

  <div class="stat">
    <div class="stat-figure  ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 10V3L4 14h7v7l9-11h-7z"></path>
      </svg>
    </div>
    <div class="stat-title">Sub Región</div>
    <div class="stat-value">{{country().subRegion}}</div>
    <div class="stat-desc">{{country().region}}</div>

  </div>
  <div class="stat">
    <div class="stat-figure  ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 10V3L4 14h7v7l9-11h-7z"></path>
      </svg>
    </div>
    <div class="stat-title">Bandera</div>
    <div class="stat-value">{{country().svg}}</div>
    <div class="stat-desc">{{country().subRegion}}</div>

  </div>

</section>



<section class="diff aspect-16/9" tabindex="0">
  <div class="diff-item-1" role="img" tabindex="0">
    <img [alt]="country().capital" [src]="country().flagSVG" />
  </div>
  <div class="diff-item-2" role="img">
       <img class="blur brightness-75"
        [alt]="country().capital" [src]="country().flagSVG" />

  </div>
  <div class="diff-resizer"></div>
</section>